
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary: #0b212f;
    --color-secondary: #fff;
    --color-bg1: #dff6ff;
    --color-bg2: #47b5ff;
    --color-bg3: #1363df;
    --radius: 12px;
    --transition: all 400ms ease;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    background-color: var(--color-secondary);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ########################## Start Project ########################## */

.wrapper{
    width: 65%;
    background-image: linear-gradient(to bottom, var(--color-bg1)30%, var(--color-bg1)30%, var(--color-bg2));
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: 0 .3em .9em .1em rgba(0, 0, 0, 0.1);
}

/* ########################## Details Card ########################## */

.wrapper .details{
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2em;
    color: var(--color-primary);
}

.details .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.details .info .city {
font-size: 3em;
    font-weight: 700;
}

.details .info .city span {
    font-weight: 800;
    color: var(--color-bg3);
}


.details .info .method,
.details .info .fullDate {
    font-size: 1.6em;
    font-weight: 700;
    opacity: 55%;
}

.btn {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.6em;
    font-weight: 800;
    color: var(--color-bg3);
    text-transform: capitalize;
    cursor: pointer;
}

.details .upcoming {
    justify-self: flex-end;
    background-color: #fff;
    border-radius: var(--radius);
    padding: 0.5em 1em;
    flex-direction: column;
    gap: .3em;
    font-size: 1.7em;
    font-weight: 800;
}



.details .upcoming .countdown {
    font-size: 2em;
}

.details .upcoming .prayerOfTime {
    font-weight: 500;
}



/* ########################## Prayer Time Card ########################## */
.wrapper .prayerTime{
    padding: 2em;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.wrapper .prayerTime > div {
    width: calc(80% / 6);
    height: 100px;
    padding: 20px;
    background-color: var(--color-bg1);
    color: var(--color-primary);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.wrapper .prayerTime > div h1 {
    font-size: 1.6em;
    font-weight: 800;
}
.wrapper .prayerTime > div .time{
    font-size: 1.5em;
}


/* ########################## Prayer Time Card ########################## */
.change {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
#chooseCountry,
#chooseCity {
    background-color: var(--color-bg1);
    width: 130px;
    min-width: fit-content;
    border-radius: 6px;
    outline: none;
    padding: 5px 10px;
    transition: var(--transition);
}
